
.best-selling {
    height: auto;
    width: 100%; 
    background: #4a4a4a; 
    border-radius: 5px 5px 0 0;
    color: #fff;
    
}
.best-selling-text {
    font-weight: bolder;
    font-size: large;
}
.best-sellin-img {
    height: 243;
}